/* NAVIGATION BAR */

.btn-nav{
    display: none;
}

nav {
    margin-bottom: 0rem;
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #111;
    margin: 0;
    padding: 1.5rem 2.50rem;
    position: sticky;
    display: block;
    text-align: center;
}

li {
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    color:white;
    margin-right:10px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    display: inline-block;
    font-size: 1.4rem;
}
li a.a {
    transition: 0.5s;
    position: relative;
    top: 5px
}

li a.a:hover{
    font-weight: 600;
}

li a strong{
    font-size: 1.7rem;
    position: relative;
    top: 6.5px;
    text-align: center;
}

ul br {
    display: none;
}

@media only screen and (max-width: 1000px) {
    li a.a {
        transition: 0.5s;
        position: relative;
        top: -5px
    }
    li a strong{
        font-size: 1.7rem;
        position: relative;
        top: -6px;
        text-align: center;
        display: block;
    }
    ul br{
        display: block;
    }
}